.card
  = simple_form_for [:admin, model] do |f|
    .card-body
      = f.input :name
      = f.input :api_key, disabled: true, placeholder: _('Admin|API Application|Key will be generated when saved')
    .card-footer
      = f.save
