.nested-fields
  .row.mb-3
    .col-md-11
      - if f.object.new_record?
        .flex-grow-1{ data: { autocomplete: { 'url-value' => autocomplete_users_path, 'min-length-value' => '3' }, controller: 'autocomplete' } }
          %input.form-control.rounded-0.string.flex-grow-1{ 'data-autocomplete-target' => 'input', placeholder: _('Users|Autocomplete|Type to search') }
          = f.input :user_id, label: false, input_html: { data: { 'autocomplete-target' => 'hidden' } }, wrapper_html: { style: 'margin-bottom: 0 !important;' }, as: :hidden
          %ul.shadow.user-autocomplete-popup.list-group{ 'data-autocomplete-target' => 'results' }
      - else
        %input.form-control.rounded-0.string.flex-grow-1.disabled{ value: f.object&.user&.username, disabled: true }
    .col-md-1
      = link_to_remove_association f, class: 'btn btn-danger icon-only-btn d-table', data: { action: 'click->cocoon#removeRow' } do
        = icon %i[fa fa-trash]
