= turbo_frame_tag 'remote_modal' do
  .modal{ data: { controller: 'remote-modal' }, tabindex: '-1' }
    .modal-dialog.modal-dialog-centered
      .modal-content.rounded-0
        .modal-header
          %h5.modal-title= modal_title
          %button.btn-close{ 'data-bs-dismiss' => 'modal', type: 'button' }
        .modal-body.remote-modal-body#remote-modal-body
          = render partial: partial, locals: partial_locals
