# Heroku Stuff
Aptfile
Procfile

# Documentation
DEVELOPMENT.md
README.md
_model_comment_template.txt

# docker-compose file
docker-compose.yml

# Local dev procfile
Procfile.dev

# Config files for development
.gitignore
.rubocop.yml
