.nested-fields
  .row
    .col-md-5
      = f.input :start_date, as: :datetime, html5: true, wrapper_html: { class: 'mb-0' }
    .col-md-5
      = f.input :end_date, as: :datetime, html5: true, wrapper_html: { class: 'mb-0' }
    .col-md-2
      %label.form-label &nbsp;
      = link_to_remove_association f, class: 'btn btn-danger icon-only-btn d-table', data: { action: 'click->cocoon#removeRow' } do
        = icon %i[fa fa-trash]