- content_for :header_buttons do
  = button _('Admin|Orders|Cleanup expired'),
          cleanup_expired_admin_shop_orders_path,
          method: :post,
          color: :danger,
          confirm: _('Admin|Orders|Are you sure you want to clean the orders up?')

.card
  .card-body
    = datagrid_table op.grid, html: { class: 'table' }
