= _('UserMailer|PasswordResetRequest|Title')
\------------------------------------
\
= _('UserMailer|PasswordResetRequest|Greeting %{username}') % { username: @user.username }
\
= _('UserMailer|PasswordResetRequest|Copy url below')
\
= reset_password_url(token: @token, email: @user.email)