.card
  .card-body{data: { controller: 'admin--seatmap' }}
    = model.id
    %hr
    = button 'Add seat', nil, html: { data: { action: 'click->admin--seatmap#addNewSeat' } }
    %span.select.optional
      = select_tag 'seat_category',
        options_from_collection_for_select(SeatCategory.all, :id, :name),
        include_blank: _('Form|Select|Blank'),
        class: 'form-select rounded-0 select optional d-inline-block w-auto',
        data: { 'admin--seatmap-target' => 'seatCategorySelector' }
    = button 'Save seatmap', nil, html: { data: { action: 'click->admin--seatmap#saveSeatMap' } }
    %hr
    #seatmap-container{data: { 'admin--seatmap-target' => 'container' }}
    #seatmap-context-menu{data: { 'admin--seatmap-target' => 'contextMenu' }}
      %div
        %button#delete-button{data: { 'admin--seatmap-target' => 'deleteButton' }} Delete

:css
  #seatmap-container canvas {
    background-color: Gainsboro !important;
  }

  #seatmap-context-menu {
    display: none;
    position: fixed;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
  }

  #seatmap-context-menu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
  }

  #seatmap-context-menu button:hover {
    background-color: lightgray;
  }