.card
  = simple_form_for model, url: admin_achievement_user_achievements_path(op.achievement) do |f|
    .card-body
      .row
        .col-md-6
          = f.association :user, include_blank: _('Form|Select|Blank'),
                                 label_method: :username,
                                 collection: op.user_candidates
        .col-md-6
          = f.input :awarded_at, as: :datetime, html5: true, wrapper_html: { class: 'mb-0' }
    .card-footer
      = f.save
