-# Not used at the moment, but will be used later on
%li.nav-item.dropdown
  %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
    %i.far.fa-comments
    %span.badge.badge-danger.navbar-badge 3
  .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
    %a.dropdown-item{:href => "#"}
      / Message Start
      .media
        -#%img.img-size-50.mr-3.img-circle{:alt => "User Avatar", :src => "dist/img/user1-128x128.jpg"}/
        .media-body
          %h3.dropdown-item-title
            Brad Diesel
            %span.float-right.text-sm.text-danger
              %i.fas.fa-star
          %p.text-sm Call me whenever you can...
          %p.text-sm.text-muted
            %i.far.fa-clock.mr-1
            4 Hours Ago
      / Message End
    .dropdown-divider
    %a.dropdown-item{:href => "#"}
      / Message Start
      .media
        -#%%img.img-size-50.img-circle.mr-3{:alt => "User Avatar", :src => "dist/img/user8-128x128.jpg"}/
        .media-body
          %h3.dropdown-item-title
            John Pierce
            %span.float-right.text-sm.text-muted
              %i.fas.fa-star
          %p.text-sm I got your message bro
          %p.text-sm.text-muted
            %i.far.fa-clock.mr-1
            4 Hours Ago
      / Message End
    .dropdown-divider
    %a.dropdown-item{:href => "#"}
      / Message Start
      .media
        -#%%img.img-size-50.img-circle.mr-3{:alt => "User Avatar", :src => "dist/img/user3-128x128.jpg"}/
        .media-body
          %h3.dropdown-item-title
            Nora Silvester
            %span.float-right.text-sm.text-warning
              %i.fas.fa-star
          %p.text-sm The subject goes here
          %p.text-sm.text-muted
            %i.far.fa-clock.mr-1
            4 Hours Ago
      / Message End
    .dropdown-divider
    %a.dropdown-item.dropdown-footer{:href => "#"} See All Messages