-# Not used at the moment, but will be used later on
%li.nav-item.dropdown
  %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
    %i.far.fa-bell
    %span.badge.badge-warning.navbar-badge 15
  .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
    %span.dropdown-header 15 Notifications
    .dropdown-divider
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-envelope.mr-2
      4 new messages
      %span.float-right.text-muted.text-sm 3 mins
    .dropdown-divider
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-users.mr-2
      8 friend requests
      %span.float-right.text-muted.text-sm 12 hours
    .dropdown-divider
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-file.mr-2
      3 new reports
      %span.float-right.text-muted.text-sm 2 days
    .dropdown-divider
    %a.dropdown-item.dropdown-footer{:href => "#"} See All Notifications