%ul.nav.nav-pills.flex-column.sidenav
  %li.nav-item
    %a.nav-link{href: admin_shop_payment_assist_path, class: active_link_classes(:payment_assist)}
      %span
        %i.nav-icon.fas.fa-cash-register.fa-fw
        %span.nav-item-text= _('Admin|Payment Assist')
