.card
  = simple_form_for model, url: admin_scanner_users_path, wrapper: :input_group do |f|
    .card-body
      .row
        .col-md-6
          = f.input :name
        .col-md-6
          = f.password :password
    .card-footer
      = f.save