- context = RailsOps::Context.new(user: current_user, ability: Ability.new(current_user))
- sidebar_operation = Operations::Application::Sidebar.new(context)

-# Lan party info block
= sidebar_operation.lan_party_block

-# Next events block
= sidebar_operation.next_events_block

-# Newsposts block
= sidebar_operation.news_block

-# Dynamic sidebar blocks
= sidebar_operation.dynamic_sidebar_blocks