- if images.count == 1
  .startpage-image
    = image_tag images.first
- else
  .carousel.slide#startpage-banner-images{ 'data-bs-ride' => 'carousel' }
    .carousel-indicators
      - images.count.times do |index|
        %button{ 'data-bs-slide-to' => index.to_s, 'data-bs-target' => '#startpage-banner-images', class: ('active' if index.zero?) }
    .carousel-inner
      - images.each_with_index do |image, index|
        .carousel-item{ class: ('active' if index.zero?) }
          = image_tag image, class: 'd-block'
    %button.carousel-control-prev{ 'data-bs-slide' => 'prev', 'data-bs-target' => '#startpage-banner-images' }
      %span.carousel-control-prev-icon
    %button.carousel-control-next{ 'data-bs-slide' => 'next', 'data-bs-target' => '#startpage-banner-images' }
      %span.carousel-control-next-icon

:css
  #startpage-banner-images,
  .startpage-image {
    height: #{height}px;
  }
