.card
  .list-group.list-group-flush
    = link_to _('Settings|Profile'), profile_settings_path, class: nav_item_classes(actions: [:profile])
    = link_to _('Settings|Avatar'), avatar_settings_path, class: nav_item_classes(actions: [:avatar])
    = link_to _('Settings|2FA'), two_factor_settings_path, class: nav_item_classes(actions: %i[two_factor activate_two_factor])