- provide :page_title, _('Settings|2FA')

.row
  .col-md-3
    = render partial: 'settings/sidebar'
  .col-md-9
    .card
      - if current_user.two_factor_enabled?
        .card-body
          Enabled!
        .card-footer
          = delete_button(current_user, href: settings_two_factor_deactivate_path, title: _('User|Remove 2FA'), html: { data: { confirm: _('User|Remove 2FA confirmation') } })
      - else
        .card-body
          Not enabled!
        .card-footer
          = button(_('User|Add 2FA'), settings_two_factor_activate_path)