html.dark
  --admin-bg-color: var(--bs-body-bg-alt)
  --footer-bg-color: black
  --card-bg-color: #2f2f2f
  .swal2-modal
    background-color: var(--card-bg-color)
    color: var(--bs-body-color-alt)
  .list-group-item
    background-color: var(--card-bg-color)
