@font-face
  font-family: 'Roboto'
  src: url('Roboto-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: url('Poppins-Regular.ttf')
