$fa-font-path: '@fortawesome/fontawesome-free/webfonts'

$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

$primary: #219dde
$secondary: #8897AA
$success: #02BC77
$danger: #d9534f
$warning: #FFD950  
$info: #28c3d7 
$dark: rgba(24,28,33,0.9)

$colors: ("primary": $primary, "secondary": $secondary, "success": $success, "danger": $danger, "warning": $warning, "info": $info, "dark": $dark)