= render partial: 'shop/shared/header'

- op.products.in_groups_of(4) do |products|
  .row
    - products.each do |product|
      - next if product.nil?
      .col-md-3.col-sm-6
        .card.product-listing-card
          .card-body
            %small.product-details
              = product.product_category.name
            %h4.product_title
              = link_to product.name, [:shop, product]
            .product-price
              = _('Product|Starting from %{start_price}') % { start_price: humanized_money_with_symbol(product.starting_price) }