.nested-fields
  .row
    .col-md-8
      = f.input :name
    .col-md-3
      = f.input :price
    .col-md-1
      %label.form-label &nbsp;
      = link_to_remove_association f, class: 'btn btn-danger icon-only-btn d-table', data: { action: 'click->cocoon#removeRow' } do
        = icon %i[fa fa-trash]