- if can? :create, SeatCategory
  - content_for :header_buttons do
    = new_button SeatCategory, namespace: %i[admin lan_party]

.card
  .card-body
    = datagrid_table op.grid, html: { class: 'table' }
