.card
  = simple_form_for [:admin, :lan_party, model] do |f|
    .card-body
      = f.input :name
      = f.input :color, as: :select,
                        collection: SeatCategory::PREDEFINED_SEATCATEGORY_COLORS,
                        value_method: :first,
                        label_method: ->(color) { color.second[:title] },
                        include_blank: _('Form|Select|Blank')
    .card-footer
      = f.save