////////////////////////////////////////////////////////////////////////////////
// Icon buttons
////////////////////////////////////////////////////////////////////////////////
.btn,
.btn-sm
  .svg-inline--fa
    margin-right: 5px
  &.icon-only-btn
    .svg-inline--fa
      margin-right: 0

.btn
  border-radius: unset

button.swal2-styled.swal2-confirm
  background-color: $primary
  &:focus
    box-shadow: 0 0 0 3px rgba($primary, 50%)