#seatmap-container
  canvas
    background-color: Gainsboro !important
  &.admin-seatmap
    canvas
      border: 1px solid black !important

.seat-id-badge
  &.taken
    background-color: red

#seatmap-context-menu
  display: none
  position: fixed
  width: 300px
  background-color: white
  box-shadow: 0 0 5px grey
  border-radius: 3px

#seatmap-context-menu button
  width: 100%
  background-color: white
  border: none
  margin: 0
  padding: 10px
  text-align: left

#seatmap-context-menu button:hover
  background-color: lightgray

.seatmap-username-input
  width: 20rem !important
  flex: unset

.seat-id-badge
  cursor: pointer
  min-width: 3rem

.frontend-seatmap
  display: flex
  width: 100%
  justify-content: space-around
  overflow: hidden
  min-height: 200px
  position: relative
  &.overflowing:after
    content: " "
    display: block
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(255,255,255,0) 100%)
    height: 35px
    width: 100%
    position: absolute
    bottom: 0

.ticket-username
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@include media-breakpoint-up(xl)
  .seatmap-sidebar
    position: sticky
    top: 5em

@include media-breakpoint-down(xl)
  .frontend-seatmap
    overflow: hidden !important
    max-height: 65vh