.round
  .swiss-match-card
    @extend .border
    @extend .rounded
    @extend .p-2
    @extend .mb-2
    display: inline-block
    min-width: 250px
    max-width: 400px
    .matchscore
      width: 2rem
      text-align: center