\:root
  --bs-font-sans-serif: #{$font-family-sans-serif}

a
  text-decoration: none

.badge
  font-size: unset
  font-weight: normal

blockquote
  @extend .ps-2
  color: $secondary
  border-left: 2px solid $secondary

// Highlight should be more yellow
.mark,
mark
  background-color: yellow