<p><%= _('Mailer|Confirmation|Greeting %{user_email} %{app_name}') % { user_email: @email, app_name: AppConfig.application_name } %></p>

<p><%= _('Mailer|Confirmation|Confirm account through link below:') %></p>

<p><%= link_to _('Mailer|Confirmation|Confirm my account'), confirmation_url(@resource, confirmation_token: @token) %></p>
