.card
  = simple_form_for [:admin, model] do |f|
    .card-body
      .row
        .col-md-6
          = f.input :key, as: :select, include_blank: _('Form|Select|Blank'), collection: op.key_candidates
        .col-md-6
          = f.input :value
    .card-footer
      = f.save
