.card.mb-3
  .list-group.list-group-flush.rounded-0
    = link_to _('Admin|Users|Profile'), profile_admin_user_path, class: nav_item_classes(controller: 'admin/users/profile')
    = link_to _('Admin|Users|Avatar'), avatar_admin_user_path, class: nav_item_classes(controller: 'admin/users/avatar')
    = link_to _('Admin|Users|Permissions'), permissions_admin_user_path, class: nav_item_classes(controller: 'admin/users/permissions')
