- content_for :header_buttons do
  .d-flex.gap-1.flex-wrap
    = button _('Admin|User|List permissions'), permissions_admin_users_path
    = new_button User, namespace: %i[admin]

.card
  .card-body
    - unless FeatureFlag.enabled?(:user_registration)
      .alert.alert-warning.rounded-0.p-1
        = _('Admin|Users|Registration is currently disabled')
    = datagrid_table op.grid, html: { class: 'table' }
