.card
  .card-body
    - if model.thumb_avatar.present?
      = image_tag model.thumb_avatar
    ID:
    = model.id
    %br
    Email:
    = model.email
    %br
    Website:
    = model.website.presence ||'-'