.card
  .card-body
    - if model.avatar.attached?
      = image_tag model.avatar.variant(:thumb).processed
    ID:
    = model.id
    %br
    Email:
    = model.email
    %br
    Website:
    = model.website.presence ||'-'