- if current_user.ticket_for(op.lan_party).present?
  .card.mb-3
    .card-header
      = _('Seatmap|Your ticket')
    .card-body
      .d-grid
        = button _('Ticket|Show ticket'),
                 lan_ticket_path,
                 btn_icon: %i[fas fa-arrow-up-right-from-square],
                 html: { target: :_blank }
