.card
  .card-body{data: { controller: 'seatmap' }}
    - if current_user
      .row
        .col-md-12
          = _('Seatmap|Your available tickets')
          = turbo_frame_tag :tickets do
            = render partial: 'tickets', locals: { tickets: op.available_tickets }
        .col-md-6
          #current-selected-seat{data: { 'seatmap-target' => 'currentSelectedSeatInfo' }}
    - else
      .row
        .col-md-12
          %div{data: { 'seatmap-target' => 'tickets' }}
    %hr
    #seatmap-container.overflow-auto{data: { 'seatmap-target' => 'container', seatmap_data: op.seat_map_data }}
