.card
  .card-body{data: { controller: 'seatmap' }}
    - if current_user
      = _('Seatmap|Your available tickets')
      - op.available_tickets.each do |ticket|
        %div
          .d-inline-block{style: "width: 10px; height: 1rem; background-color: #{ticket.seat_category.color}"}
          = ticket.seat_category.name
    %hr
    #seatmap-container.overflow-auto{data: { 'seatmap-target' => 'container', seatmap_data: op.seat_map_data }}
    #seatmap-context-menu{data: { 'seatmap-target' => 'contextMenu' }}
      %div
        %button#dummy-button{data: { 'seatmap-target' => 'dummyButton' }}
          = _('SeatMap|DummyButton')
