.footer.mt-auto.d-flex.flex-wrap.justify-content-between.align-items-center.px-4.py-3.border-top.bg-light
  .text-muted
    © 2021 -
    = Time.zone.today.year
    %a{ href: 'http://l4n.ch', target: '_blank', rel: 'noopener' } L4N
