:root
  // Accent color (used for buttons and links)
  --l4n-accent-color: var(--bs-primary)

  // Background color
  --l4n-bg-color: $white

  // Text color
  --l4n-text-color: $black

  // Color of text on buttons
  --l4n-button-text-color: $white

  // Background of the footer
  --l4n-footer-bg: #eeeeee
